<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>Sign Up</h1><br><br>

        <form action="/auth/signup" method="POST">
            Name: <input class="input" type="text" name="name" placeholder="First and Last Name" /><br>
            Username: <input class="input" type="text" name="username" placeholder="Username" /><br>
            Password: <input class="input" type="password" name="password" placeholder="Password" /><br><br>
            <input type="submit" name="" value="Sign Up" />
        </form>
        <% if (error) { %>
            </br><h3>Username Taken</h3>
        <% } %>
        </br><h3><a href="/">Return to Welcome Page</a></h3>
    </body>
</html>